@using Newtonsoft.Json
@model GymApp.Models.Entities.GetClientes
@{
    ViewBag.Title = "GYM";
}
<!-- Inicio Formulario de listado de clientes-->
<div class="card" style="max-width: 100%;">
    <div class="card-header">
        <div class="container">
            <div class="row">
                <div class="col align-content-lg-center">
                    <h4>Clientes</h4>
                </div>
                <div class="col-md-auto">
                    <button type="button" onclick="operaciones.CargaFormaNuevo();" class="btn btn-sm btn-success">
                        <i class="fa fa-plus"></i> Nuevo
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="form-group">
            <table class="table table-hover table-sm pt-2" id="tbDatosClientes">
                <thead class="bg-secondary text-white">
                    <tr>
                        <th>&nbsp;</th>
                        <th class="header-tablas align-middle">NOMBRE</th>
                        <th class="header-tablas align-middle">TELÉFONO</th>
                        <th class="header-tablas align-middle">NIT</th>
                        <th class="header-tablas align-middle">DPI</th>
                        <th class="header-tablas align-middle">CORREO</th>
                        <th class="header-tablas align-middle">&nbsp;</th>
                    </tr>
                </thead>
                <tbody id="BodyListadoClientes">
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Finaliza Formulario de listado de clientes-->
<!------------------------------------------------>
<!-- Inicio Modal Nuevo cliente-->
<div class="modal fade" id="ModalNuevo" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modalNuevo" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header text-white bg-secondary text-center">
                <h5 class="modal-title" id="TituloCliente">INFORMACIÓN DE CLIENTE</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form name="form_cliente" id="form_cliente">
                    <input type="hidden" id="IdCliente" name="IdCliente" />
                    <div class="row">
                        <div class="form-group col-md-4">
                            <div class="form-group">
                                <label for="Nombre1" class="d-inline">NOMBRES</label>
                                <input class="form-control form-control-sm pl-2" type="text" id="Nombre1" name="Nombre1" />
                                <div class="invalid-feedback">Por favor ingrese un nombre.</div>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <div class="form-group">
                                <label for="Nombre2" class="d-inline">&nbsp;</label>
                                <input class="form-control form-control-sm pl-2" type="text" id="Nombre2" name="Nombre2" />
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <div class="form-group">&nbsp;</div>
                        </div>
                    </div>
                    <div class="row pt-3">
                        <div class="form-group col-md-4">
                            <div class="form-group">
                                <label for="Apellido1" class="d-inline">APELLIDOS</label>
                                <input class="form-control form-control-sm pl-2" type="text" id="Apellido1" name="Apellido1" />
                                <div class="invalid-feedback">Por favor ingrese un apellido.</div>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <div class="form-group">
                                <label for="Apellido2" class="d-inline">&nbsp;</label>
                                <input class="form-control form-control-sm pl-2" type="text" id="Apellido2" name="Apellido2" />
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <div class="form-group">
                                <label for="Apellido3" class="d-inline">&nbsp;</label>
                                <input class="form-control form-control-sm pl-2" type="text" id="Apellido3" name="Apellido3" />
                            </div>
                        </div>
                    </div>
                    <div class="row pt-3">
                        <div class="form-group col-md-4">
                            <div class="form-group">
                                <label for="Nit" class="d-inline">NIT</label>
                                <input class="form-control form-control-sm pl-2" type="text" id="Nit" name="Nit" />
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <div class="form-group">
                                <label for="Telefono" class="d-inline">TELEFONO</label>
                                <input class="form-control form-control-sm pl-2" type="text" maxlength="8" id="Telefono" name="Telefono" />
                                <div class="invalid-feedback">El telefono debe tener 8 dígitos.</div>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <div class="form-group">
                                <label for="Dpi" class="d-inline">DPI</label>
                                <input class="form-control form-control-sm pl-2" type="text" id="Dpi" name="Dpi" />
                            </div>
                        </div>
                    </div>
                    <div class="row pt-3">
                        <div class="form-group col-md-3">
                            <div class="form-group">
                                <label for="FechaCreacion" class="d-inline">FECHA CREACION</label>
                                <input class="form-control form-control-sm pl-2" type="date" id="FechaCreacion" name="FechaCreacion" value="@DateTime.Now.ToString("yyyy-MM-dd")" disabled="disabled" />
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <div class="form-group">
                                <label for="Genero" class="d-inline">SEXO</label>
                                <select class="form-control form-control-sm pl-2" id="selectGenero" name="selectGenero">
                                    <option value="">SELECCIONE</option>
                                    <option value="M">MASCULINO</option>
                                    <option value="F">FEMENINO</option>
                                </select>
                                <div class="invalid-feedback">Por favor seleccione una opción.</div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="form-group">
                                <label for="Email" class="d-inline">EMAIL</label>
                                <input class="form-control form-control-sm pl-2" type="email" id="Email" name="Email" />
                                <div class="invalid-feedback">Por favor ingrese un correo electrónico valido.</div>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-3">
                        <div class="form-group col-md-12">
                            <div class="form-group">
                                <label for="Direccion" class="d-inline">DIRECCION</label>
                                <input class="form-control form-control-sm pl-2" type="text" id="Direccion" name="Direccion" />
                            </div>
                        </div>
                    </div>
                    <div class="row" id="divEstado">
                        <div class="form-floating col-md-3">
                            <div class="form-check pt-2">
                                <input class="form-check-input" type="checkbox" value="" id="cbestado" name="estado" checked>
                                <label class="form-check-label" for="cbestado">ACTIVO</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-center" id="FooterModal">
                <button type="button" id="setForm" class="btn btn-sm text-white" style="background: #44B5A3">
                    <i class="fa fa-save"></i> GUARDAR
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Finaliza Modal Nuevo cliente-->
<!------------------------------------------------------------------------->
<!-- Inicio Modal eliminar-->
<div class="modal fade" id="ModalEliminar" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header text-white bg-secondary text-center">
                <h5 class="modal-title" id="exampleModalLabel">Atencion!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h4 class="form-control-sm text-center">¿Esta seguro de eliminar este registro?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm btn-block text-white" id="btnEliminar">
                    <i class="fa fa-trash"></i> ELIMINAR
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Final modal eliminar -->
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            // Configura DataTable
            $('#tbDatosClientes').DataTable({
                "paging": true,    // Habilita la paginación
                "searching": true,   // Habilita la búsqueda
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                },

            });
        });

        class OperacionesDatos {
            constructor() {

            }

            limpiarFormulario() {
                // Seteando valores a los inputs del formulario
                $('#IdCliente').val("");
                $('#Nombre1').val("");
                $('#Nombre2').val("");
                $('#Apellido1').val("");
                $('#Apellido2').val("");
                $('#Apellido3').val("");
                $('#Telefono').val("");
                $('#Nit').val("");
                $('#Dpi').val("");
                $('#FechaCreacion').val("");
                $('#Genero option[value=""]').attr('selected', 'selected');
                $('#Email').val("");
                $('#Direccion').val("");
            }

            CargaFormaNuevo() {
                this.limpiarFormulario();
                $('#form_cliente').find(':input').prop('disabled', false);
                $("#FechaCreacion").val("@DateTime.Now.ToString("yyyy-MM-dd")");
                $("#cbestado").prop("checked", true);
                $("#cbestado").prop("disabled", "disabled");

                // Muestra la modal para registrar un nuevo cliente
                $('#ModalNuevo').modal('show');
                // Se cambia el evento clic del boton
                $('#setForm').attr("onclick", "operaciones.GuardarNuevo();");
            }

            aFecha(vfecha, sepadador, salida) {
                var val = vfecha.split(sepadador);
                return val[2] + salida + val[1] + salida + val[0];
            }

            GuardarNuevo() {
                if ($('#Nombre1').val().length == 0) {
                    $('#Nombre1').addClass("is-invalid");
                    return false;
                } else {
                    $('#Nombre1').removeClass("is-invalid");
                }

                if ($('#Apellido1').val().length == 0) {
                    $('#Apellido1').addClass("is-invalid");
                    return false;
                } else {
                    $('#Apellido1').removeClass("is-invalid");
                }

                if ($("#Telefono").val().length == 0) {
                    $("#Telefono").addClass("is-invalid");
                    return false;
                } else {
                    $("#Telefono").removeClass("is-invalid");
                }

                if ($("#selectGenero").val().length == 0) {
                    $("#selectGenero").addClass("is-invalid");
                    return false;
                } else {
                    $("#selectGenero").removeClass("is-invalid");
                }

                $.ajax({
                    method: 'POST',
                    url: "/Clientes/Nuevo",
                    dataType: "json",
                    data: {
                        IdCliente: "",
                        Nombre1: $("#Nombre1").val(),
                        Nombre2: $("#Nombre2").val(),
                        Apellido1: $("#Apellido1").val(),
                        Apellido2: $("#Apellido2").val(),
                        Apellido3: $("#Apellido3").val(),
                        Nit: $("#Nit").val(),
                        Telefono: $("#Telefono").val(),
                        Dpi: $("#Dpi").val(),
                        Genero: $("#selectGenero").val(),
                        Email: $("#Email").val(),
                        Direccion: $("#Direccion").val()
                    }
                }).then((response) => {
                    $('#ModalNuevo').modal('hide');
                    if (response > 0) {
                        alert('Cliente registrador con exito!');
                    } else {
                        alert('No se pudo reailzar la operacion solicitada!');
                    }

                    listado.ActualizarListado();
                });
            }

            //Eliminar cuenta bancaria
            Eliminar(vCodigo) {
                $('#ModalEliminar').modal('show');

                $('#btnEliminar').click(() => {
                    $.ajax({
                        method: 'POST',
                        url: "/Clientes/Eliminar",
                        dataType: "json",
                        data: {
                            IdCliente: vCodigo,
                            estado: "I"
                        }
                    }).then((response) => {
                        $('#ModalEliminar').modal('hide');

                        if (response > 0) {
                            alert('Cliente eliminado con exito!');
                        } else {
                            alert('No se pudo reailzar la operacion solicitada');
                        }
                        listado.ActualizarListado();
                    });
                });
            }

            // Funcion que actualiza
            EditarDatos() {
                if ($('#Nombre1').val().length == 0) {
                    $('#Nombre1').addClass("is-invalid");
                    return false;
                } else {
                    $('#Nombre1').removeClass("is-invalid");
                }

                if ($('#Apellido1').val().length == 0) {
                    $('#Apellido1').addClass("is-invalid");
                    return false;
                } else {
                    $('#Apellido1').removeClass("is-invalid");
                }

                if ($("#Telefono").val().length == 0) {
                    $("#Telefono").addClass("is-invalid");
                    return false;
                } else {
                    $("#Telefono").removeClass("is-invalid");
                }

                if ($("#selectGenero").val().length == 0) {
                    $("#selectGenero").addClass("is-invalid");
                    return false;
                } else {
                    $("#selectGenero").removeClass("is-invalid");
                }

                var vestado = ($("#cbestado").prop("checked")) ? "A" : "I";

                $.ajax({
                    method: 'POST',
                    url: "/Clientes/Editar",
                    dataType: "json",
                    data: {
                        IdCliente: $("#IdCliente").val(),
                        Nombre1: $("#Nombre1").val(),
                        Nombre2: $("#Nombre2").val(),
                        Apellido1: $("#Apellido1").val(),
                        Apellido2: $("#Apellido2").val(),
                        Apellido3: $("#Apellido3").val(),
                        Nit: $("#Nit").val(),
                        Telefono: $("#Telefono").val(),
                        Dpi: $("#Dpi").val(),
                        Genero: $("#selectGenero").val(),
                        Email: $("#Email").val(),
                        Direccion: $("#Direccion").val(),
                        Estado: vestado
                    }
                }).then((response) => {
                    $('#ModalNuevo').modal('hide');

                    if (response > 0) {
                        alert('Cliente actualizado con exito!');
                    } else {
                        alert('No se pudo realizar la operacion solicitada');
                    }
                    listado.ActualizarListado();
                });
            }
        }

        class ListadoDatos {
            constructor(ClientesList) {
                this.Clientes = ClientesList;
                this.initEvents();
            }

            initEvents() {
                this.ConstruirListado();
            }

            // Funcion para generar la tabla para listado de clientes
            ConstruirListado() {
                var rows = "";
                var contenido = 0;

                this.Clientes.forEach(item => {
                    contenido = 1;
                    console.log(item);
                    var estado = (item.Estado == "A") ? '<i class="fa-solid fa-user-check" style="color: #00753D;"></i>' : '<i class="fa-solid fa-user-xmark" style="color: #DB1F26;"></i>';
                    
                    var opciones = "<a class='dropdown-item' href='#' onclick=listado.Buscar('" + item.IdCliente + "')>Editar</a>";                       
                    if (item.Estado == "A") {
                        opciones += "<a class='dropdown-item' href='#' onclick=operaciones.Eliminar('" + item.IdCliente + "')>Borrar</a>";
                    } else {
                        opciones += "<a class='dropdown-item' href='#' onclick=listado.VisualizarCliente('" + item.IdCliente + "')>Ver</a>";
                    }

                    rows += "<tr>" +
                        "   <td>" + estado + "</td>" +
                        "   <td>" + item.Nombre1 + " " + item.Nombre2 + ", " + item.Apellido1 + " " + item.Apellido2 + " " + item.Apellido3 +"</td>" +
                        "   <td>" + item.Telefono + "</td>" +
                        "   <td>" + item.Nit + "</td>" +
                        "   <td>" + item.Dpi + "</td>" +
                        "   <td>" + item.Email + "</td>" +
                        "   <td class='cuerpo-tabla text-center align-middle'>" +
                        "       <div class='btn-group dropleft'>" +
                        "           <button class='btn btn-light btn-sm' type='button' id='dropdownMenuButton' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>" +
                        "               <i class='fas fa-ellipsis-v'></i>" +
                        "           </button>" +
                        "           <div class='dropdown-menu' aria-labelledby='dropdownMenuButton'>" + opciones + "</div>" +
                        "       </div>" +
                        "   </td>" +
                        "</tr>";
                });

                if (contenido == 0) {
                    rows = "<tr><td colspan='6' class='cuerpo-tabla text-center align-middle'>No existen clientes</td></tr>";
                }

                $("#BodyListadoClientes").html(rows);
            }

            // Carga el listado general de clientes
            ActualizarListado() {
                $.ajax({
                    method: 'GET',
                    url: "/Clientes/Listado",
                    dataType: "json"
                }).then((response) => {
                    this.Clientes = response.ListadoClientes;
                    this.ConstruirListado();
                });
            }

            // Funcion para realizar busqueda de cliente y mostrar informacion en una modal para ser editada
            Buscar(vCodigo) {
                operaciones.limpiarFormulario();
                // Buscando el cliente de listado
                let vRow = this.Clientes.find(x => x.IdCliente == vCodigo);
                
                // Seteando valores a los inputs del formulario
                $('#IdCliente').val(vRow.IdCliente);
                $('#Nombre1').val(vRow.Nombre1);
                $('#Nombre2').val(vRow.Nombre2);
                $('#Apellido1').val(vRow.Apellido1);
                $('#Apellido2').val(vRow.Apellido2);
                $('#Apellido3').val(vRow.Apellido3);
                $('#Telefono').val(vRow.Telefono);
                $('#Nit').val(vRow.Nit);
                $('#Dpi').val(vRow.Dpi);
                $('#FechaCreacion').val(operaciones.aFecha(vRow.FechaCreacion, "/", "-"));
                $('#selectGenero option[value=' + vRow.Genero + ']').attr('selected', 'selected');
                $('#Email').val(vRow.Email);
                $('#Direccion').val(vRow.Direccion);
                $("#cbestado").prop("checked", (vRow.Estado == "A"));
                // Se muestra el footer y se cambia el evento clic del boton guardar
                $('#FooterModal').css("visibility", "visible");
                // Habilitando los elementos contenidos dentro del formulario de clientes
                $('#form_cliente').find(':input').prop('disabled', false);
                // Se deja deshabilitada la fecha de creacion
                $('#FechaCreacion').prop("disabled", true);
                // Mostrando la modal
                $('#ModalNuevo').modal('show');
                // Se cambia el evento clic del boton
                $('#setForm').attr("onclick", "operaciones.EditarDatos();");
            }

            // Funcion para realizar busqueda de cliente y mostrar informacion en una modal
            VisualizarCliente(vCodigo) {
                operaciones.limpiarFormulario();
                // Buscando el cliente de listado
                let vRow = this.Clientes.find(x => x.IdCliente == vCodigo);

                // Seteando el titulo de la modal
                let titulo = $('#TituloCliente');
                $(titulo).html(titulo.html().split(":")[0] + ' : ' + vRow.IdCliente);
                // Seteando valores a los inputs del formulario
                $('#Nombre1').val(vRow.Nombre1);
                $('#Nombre2').val(vRow.Nombre2);
                $('#Apellido1').val(vRow.Apellido1);
                $('#Apellido2').val(vRow.Apellido2);
                $('#Apellido3').val(vRow.Apellido3);
                $('#Telefono').val(vRow.Telefono);
                $('#Nit').val(vRow.Nit);
                $('#Dpi').val(vRow.Dpi);
                $('#FechaCreacion').val(operaciones.aFecha(vRow.FechaCreacion, "/", "-"));
                $('#selectGenero option[value=' + vRow.Genero + ']').attr('selected', 'selected');
                $('#Email').val(vRow.Email);
                $('#Direccion').val(vRow.Direccion);
                $("#cbestado").prop("checked", (vRow.Estado == "A"));
                // Deshabilitando los elementos contenidos dentro del formulario de clientes
                $('#form_cliente').find(':input').prop('disabled', true);
                // Se oculta el footer porque es solo informativo
                $('#FooterModal').css("visibility", "hidden");
                // Mostrando la modal
                $('#ModalNuevo').modal('show');
            }
        }

        var operaciones = new OperacionesDatos();
        var listado = new ListadoDatos(@Html.Raw(JsonConvert.SerializeObject(Model.ListadoClientes)));
    </script>
} 